{% extends 'home.html' %}

{% load static %}

{% block content %}
<!-- breadcrumbs-area-start -->
<div class="breadcrumbs-area mb-70">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumbs-menu">
					<ul>
						<li><a href="product-details.html#">Home</a></li>
						<li><a href="product-details.html#" class="active">product-details</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- breadcrumbs-area-end -->
<!-- product-main-area-start -->
<div class="product-main-area mb-70">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
				<!-- product-main-area-start -->
				<div class="product-main-area">
					<div class="row">
						<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
							<div class="flexslider">
								<ul class="slides">
									<li>
									  <img src="{{ book.photo_set.all.0.photo.url }}" alt="{{ book.name }}" />
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
							<div class="product-info-main">
								<div class="page-title">
									<h1>{{ book.name }}</h1>
								</div>
								<div class="product-social-links">
									<div class="product-addto-links-text">
										<p>{{ book.description | safe }}</p>
									</div>
									<span id="message"></span>
								</div>
							</div>
						</div>
					</div>	
				</div>
				<!-- product-main-area-end -->
				<!-- product-info-area-start -->
				<div class="product-info-area mt-80">
					<!-- Nav tabs -->
					{% if messages %}
						{% for message in messages %}
							<p><b>{{ message }}</b></p>
						{% endfor %}
					{% endif %}

					<div id="massage"></div>

					<ul class="nav nav-tabs" role="tablist">
						<li class="active"><a href="#details" data-toggle="tab">Details</a></li>
						<li><a href="#reviews" data-toggle="tab">Reviews 3</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="details">
							<div class="valu">
								<h4>Original Title</h4>
								<p>{{ object.original_title }}</p>
								<h4>ISBN</h4>
								<p>{{ object.isbn }}</p>
								<h4>Edition Language</h4>
								<p>{{ object.edition_language }}</p>

								{% if object.literary_awards %}
								<h4>Literary Awards</h4>
								<p>{{ object.literary_awards }}</p>
								{% endif %}

								{% if object.char.all %}
								<h4>Characters</h4>
								<ul>
									{% for cr in object.char.all %}
									<li><i class="fa fa-circle"></i>{{ cr }}</li>
									{% endfor %}
								</ul>
								{% endif %}
							</div>
						</div>
						<div class="tab-pane" id="reviews">
							<div class="valu valu-2">
								{% if object.review_set.all %}
								<div class="section-title mb-60 mt-60">
									<h2>People about this book:</h2>
								</div>
								<ul>
									{% for rw in object.review_set.all %}
									{% if rw.publish %}
									<li>
										<div class="review-title">
											<h3>{{ rw.summary }}</h3>
										</div>
										<div class="review">
											<div class="review-content">
												<p>{{ rw.review }}</p>
											</div>
											<div class="review-details">
												<p class="review-author">Review by
													<a href="product-details.html#">{{ rw.nickname }}</a>
												</p>
												<p class="review-date">Posted on <span>{{ rw.data }}</span></p>
											</div>
										</div>
									</li>
									{% endif %}
									{% endfor %}
								</ul>
								{% endif %}
								<div class="review-add">
									<h3>Do you recommend this book?</h3>
								</div>
<!--								<form id="review_form" action="javascript:void(0);"-->
<!--									  onsubmit="submitReview();" method="post">-->

								<form action="{% url 'book' object.slug  %}" method="post">
									{% csrf_token %}
									<div class="review-form">
										<div class="single-form">
											{{ form.nickname.errors }}
											<label>Nickname <sup>*</sup></label>
											<div class="form-input-wrapper">
											{{ form.nickname }}
											</div>
										</div>
										<div class="single-form single-form-2">
											{{ form.summary.errors }}
											<label>Summary <sup>*</sup></label>
											<div class="form-input-wrapper">
											{{ form.summary }}
											</div>
										</div>
										<div class="single-form">
											{{ form.message.errors }}
											<label>Review <sup>*</sup></label>
											<div class="form-input-wrapper">
											{{ form.message }}
											</div>
										</div>
									</div>
									<div class="review-form-button">
										<input class="btn btn-primary" type="submit" value="Submit Review">
									</div>
								</form>
							</div>
						</div>
					</div>	
				</div>
				<!-- product-info-area-end -->
				<!-- new-book-area-start -->
				<div class="new-book-area mt-60">
					<div class="section-title text-center mb-30">
						<h3>Other Books from {{ object.cats.all.0.name }} category</h3>
					</div>
					<div class="row">
							{% for book in random_books %}
							<div class="col-lg-3 col-md-4 col-sm-6">
								<!-- single-product-start -->
								<div class="product-wrapper mb-40">
									<div class="product-img">
										<a href="{% url 'book' book.slug %}">
											{% if book.photo_set.all.0.photo.url %}
											<img src="{{ book.photo_set.all.0.photo.url }}"
												 alt="{{ book.name }}"
												 class="primary"
												 style="max-height: 300px;"
											/>
											{% else %}
											<img src="{% static 'img/nocoverimg.jpg' %}"
												 alt="{{ book.name }}"
												 class="primary"
												 style="max-height: 300px;"
											/>
											{% endif %}
										</a>
									</div>
									<div class="product-details text-center">
										<h4>
											<a href="{% url 'book' book.slug %}">{{book.name | truncatewords:10}}</a>
										</h4>
									</div>
								</div>
								<!-- single-product-end -->
							</div>
							{% endfor %}
						</div>
<!--					<div class="tab-active-2 owl-carousel">-->
<!--						&lt;!&ndash; single-product-start &ndash;&gt;-->
<!--						{% for cat_book in random_books %}-->
<!--						<div class="product-wrapper">-->
<!--							<div class="product-img">-->
<!--								<a href="{% url 'book' cat_book.slug %}">-->
<!--									<img src="{{ cat_book.photo_set.all.0.photo.url }}"-->
<!--										 alt="{{cat_book.name}}" class="primary custom" />-->
<!--								</a>-->
<!--							</div>-->
<!--							<div class="product-details text-center">-->
<!--								<h4><a href="{% url 'book' cat_book.slug %}">{{cat_book.name}}</a></h4>-->
<!--							</div>-->
<!--						</div>-->
<!--						&lt;!&ndash; single-product-end &ndash;&gt;-->
<!--						{% endfor %}-->
<!--					</div>-->
				</div>
				<!-- new-book-area-start -->
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
				<div class="shop-left">
					<div class="left-title mb-20">
						<h4>Other books from <br>{{object.owner}}</h4>
					</div>
					<div class="random-area mb-30">
						<div class="product-active-2 owl-carousel">
							<div class="product-total-2">
								{% for abook in author_books %}
								<div class="single-most-product bd mb-18">
									<div class="most-product-img">
										<a href="product-details.html#">
											<img src="{{ abook.photo_set.all.0.photo.url }}" alt="{{abook.name}}" />
										</a>
									</div>
									<div class="most-product-content">
										<h4><a href="{% url 'book' abook.slug %}">{{abook.name}}</a></h4>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="banner-area mb-30">
						<div class="banner-img-2">
							<a href="product-details.html#">
								<img src="/static/img/banner/33.jpg" alt="banner" />
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- product-main-area-end -->
{% endblock %}