{% extends 'home.html' %}

{% load static %}

{% block content %}
<!-- breadcrumbs-area-start -->
<div class="breadcrumbs-area mb-70">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumbs-menu">
					<ul>
						<li><a href="product-details.html#">Home</a></li>
						<li><a href="product-details.html#" class="active">product-details</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- breadcrumbs-area-end -->
<!-- product-main-area-start -->
<div class="product-main-area mb-70">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
				<!-- product-main-area-start -->
				<div class="product-main-area">
					<div class="row">
						<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
							<div class="flexslider">
								<ul class="slides">
									<li data-thumb="/static/img/thum-2/1.jpg">
									  <img src="{{ book.origin_image }}" alt="{{ book.name }}" />
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
							<div class="product-info-main">
								<div class="page-title">
									<h1>{{ book.name }}</h1>
								</div>
								<div class="product-social-links">
									<div class="product-addto-links-text">
										<p>{{ book.description | safe }}</p>
									</div>
									<span id="message"></span>
								</div>
							</div>
						</div>
					</div>	
				</div>
				<!-- product-main-area-end -->
				<!-- product-info-area-start -->
				<div class="product-info-area mt-80">
					<!-- Nav tabs -->
					{% if messages %}
						{% for message in messages %}
							<p><b>{{ message }}</b></p>
						{% endfor %}
					{% endif %}

					{% if form.subject.errors %}
						<ol>
						{% for error in form.subject.errors %}
							<li><strong>{{ error|escape }}</strong></li>
						{% endfor %}
						</ol>
					{% endif %}

					<ul class="nav nav-tabs" role="tablist">
						<li class="active"><a href="#details" data-toggle="tab">Details</a></li>
						<li><a href="#reviews" data-toggle="tab">Reviews 3</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="Details">
							<div class="valu">
								<h4>Original Title</h4>
								<p>{{ object.original_title }}</p>
								<h4>ISBN</h4>
								<p>{{ object.isbn }}</p>
								<h4>Edition Language</h4>
								<p>{{ object.edition_language }}</p>

								{% if object.literary_awards %}
								<h4>Literary Awards</h4>
								<p>{{ object.literary_awards }}</p>
								{% endif %}

								{% if object.char.all %}
								<h4>Characters</h4>
								<ul>
									{% for cr in object.char.all %}
									<li><i class="fa fa-circle"></i>{{ cr }}</li>
									{% endfor %}
								</ul>
								{% endif %}
							</div>
						</div>
						<div class="tab-pane" id="reviews">
							<div class="valu valu-2">
								{% if object.review_set.all %}
								<div class="section-title mb-60 mt-60">
									<h2>People about this book:</h2>
								</div>
								<ul>
									{% for rw in object.review_set.all %}
									{% if rw.publish %}
									<li>
										<div class="review-title">
											<h3>{{ rw.summary }}</h3>
										</div>
										<div class="review">
											<div class="review-content">
												<p>{{ rw.review }}</p>
											</div>
											<div class="review-details">
												<p class="review-author">Review by
													<a href="product-details.html#">{{ rw.nickname }}</a>
												</p>
												<p class="review-date">Posted on <span>{{ rw.data }}</span></p>
											</div>
										</div>
									</li>
									{% endif %}
									{% endfor %}
								</ul>
								{% endif %}
								<div class="review-add">
									<h3>Do you recommend this book?</h3>
								</div>
								<form action="{% url 'book' object.slug  %}" method="post">
									{% csrf_token %}
									<div class="review-form">
										<div class="single-form">
											<label>Nickname <sup>*</sup></label>
											<div class="form-input-wrapper">
											<input type="text" name="nickname" />
											</div>
										</div>
										<div class="single-form single-form-2">
											<label>Summary <sup>*</sup></label>
											<div class="form-input-wrapper">
											<input type="text" name="summary" />
											</div>
										</div>
										<div class="single-form">
											<label>Review <sup>*</sup></label>
											<div class="form-input-wrapper">
											<textarea name="message" cols="10" rows="4"></textarea>
											</div>
										</div>
									</div>
									<div class="review-form-button">
										<input class="btn btn-primary" type="submit" value="Submit Review">
									</div>
								</form>
							</div>
						</div>
					</div>	
				</div>
				<!-- product-info-area-end -->
				<!-- new-book-area-start -->
				<div class="new-book-area mt-60">
					<div class="section-title text-center mb-30">
						<h3>upsell products</h3>
					</div>
					<div class="tab-active-2 owl-carousel">
						<!-- single-product-start -->
						<div class="product-wrapper">
							<div class="product-img">
								<a href="product-details.html#">
									<img src="{% static 'img/product/1.jpg' %}" alt="book" class="primary" />
								</a>
								<div class="quick-view">
									<a class="action-view" href="product-details.html#" data-target="#productModal" data-toggle="modal" title="Quick View">
										<i class="fa fa-search-plus"></i>
									</a>
								</div>
								<div class="product-flag">
									<ul>
										<li><span class="sale">new</span></li>
										<li><span class="discount-percentage">-5%</span></li>
									</ul>
								</div>
							</div>
							<div class="product-details text-center">
								<div class="product-rating">
									<ul>
										<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
										<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
										<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
										<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
										<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
									</ul>
								</div>
								<h4><a href="product-details.html#">Joust Duffle Bag</a></h4>
								<div class="product-price">
									<ul>
										<li>$60.00</li>
									</ul>
								</div>
							</div>
							<div class="product-link">
								<div class="product-button">
									<a href="product-details.html#" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>
								<div class="add-to-link">
									<ul>
										<li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
									</ul>
								</div>
							</div>	
						</div>
						<!-- single-product-end -->
						<!-- single-product-start -->
						<div class="product-wrapper">
							<div class="product-img">
								<a href="product-details.html#">
									<img src="/static/img/product/3.jpg" alt="book" class="primary" />
								</a>
								<div class="quick-view">
									<a class="action-view" href="product-details.html#" data-target="#productModal" data-toggle="modal" title="Quick View">
										<i class="fa fa-search-plus"></i>
									</a>
								</div>
								<div class="product-flag">
									<ul>
										<li><span class="sale">new</span></li>
									</ul>
								</div>
							</div>
							<div class="product-details text-center">
								<div class="product-rating">
									<ul>
										<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
										<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
										<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
										<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
										<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
									</ul>
								</div>
								<h4><a href="product-details.html#">Chaz Kangeroo Hoodie</a></h4>
								<div class="product-price">
									<ul>
										<li>$52.00</li>
									</ul>
								</div>
							</div>
							<div class="product-link">
								<div class="product-button">
									<a href="product-details.html#" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>
								<div class="add-to-link">
									<ul>
										<li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
									</ul>
								</div>
							</div>	
						</div>
						<!-- single-product-end -->
						<!-- single-product-start -->
						<div class="product-wrapper">
							<div class="product-img">
								<a href="product-details.html#">
									<img src="/static/img/product/5.jpg" alt="book" class="primary" />
								</a>
								<div class="quick-view">
									<a class="action-view" href="product-details.html#" data-target="#productModal" data-toggle="modal" title="Quick View">
										<i class="fa fa-search-plus"></i>
									</a>
								</div>
								<div class="product-flag">
									<ul>
										<li><span class="discount-percentage">-5%</span></li>
									</ul>
								</div>
							</div>
							<div class="product-details text-center">
								<div class="product-rating">
									<ul>
										<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
										<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
										<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
										<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
										<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
									</ul>
								</div>
								<h4><a href="product-details.html#">Set of Sprite Yoga Straps</a></h4>
								<div class="product-price">
									<ul>
										<li> <span>Starting at</span>$34.00</li>
									</ul>
								</div>
							</div>
							<div class="product-link">
								<div class="product-button">
									<a href="product-details.html#" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>
								<div class="add-to-link">
									<ul>
										<li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
									</ul>
								</div>
							</div>	
						</div>
						<!-- single-product-end -->
						<!-- single-product-start -->
						<div class="product-wrapper">
							<div class="product-img">
								<a href="product-details.html#">
									<img src="/static/img/product/7.jpg" alt="book" class="primary" />
								</a>
								<div class="quick-view">
									<a class="action-view" href="product-details.html#" data-target="#productModal" data-toggle="modal" title="Quick View">
										<i class="fa fa-search-plus"></i>
									</a>
								</div>
								<div class="product-flag">
									<ul>
										<li><span class="sale">new</span></li>
										<li><span class="discount-percentage">-5%</span></li>
									</ul>
								</div>
							</div>
							<div class="product-details text-center">
								<div class="product-rating">
									<ul>
										<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
										<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
										<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
										<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
										<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
									</ul>
								</div>
								<h4><a href="product-details.html#">Strive Shoulder Pack</a></h4>
								<div class="product-price">
									<ul>
										<li>$30.00</li>
										<li class="old-price">$32.00</li>
									</ul>
								</div>
							</div>
							<div class="product-link">
								<div class="product-button">
									<a href="product-details.html#" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>
								<div class="add-to-link">
									<ul>
										<li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
									</ul>
								</div>
							</div>	
						</div>
						<!-- single-product-end -->	
					</div>
				</div>
				<!-- new-book-area-start -->
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
				<div class="shop-left">
					<div class="left-title mb-20">
						<h4>Related Products</h4>
					</div>
					<div class="random-area mb-30">
						<div class="product-active-2 owl-carousel">
							<div class="product-total-2">
								<div class="single-most-product bd mb-18">
									<div class="most-product-img">
										<a href="product-details.html#"><img src="/static/img/product/20.jpg" alt="book" /></a>
									</div>
									<div class="most-product-content">
										<div class="product-rating">
											<ul>
												<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
												<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
												<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
												<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
												<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
											</ul>
										</div>
										<h4><a href="product-details.html#">Endeavor Daytrip</a></h4>
										<div class="product-price">
											<ul>
												<li>$30.00</li>
												<li class="old-price">$33.00</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="single-most-product bd mb-18">
									<div class="most-product-img">
										<a href="product-details.html#"><img src="/static/img/product/21.jpg" alt="book" /></a>
									</div>
									<div class="most-product-content">
										<div class="product-rating">
											<ul>
												<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
												<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
												<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
												<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
												<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
											</ul>
										</div>
										<h4><a href="product-details.html#">Savvy Shoulder Tote</a></h4>
										<div class="product-price">
											<ul>
												<li>$30.00</li>
												<li class="old-price">$35.00</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="single-most-product">
									<div class="most-product-img">
										<a href="product-details.html#"><img src="/static/img/product/22.jpg" alt="book" /></a>
									</div>
									<div class="most-product-content">
										<div class="product-rating">
											<ul>
												<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
												<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
												<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
												<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
												<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
											</ul>
										</div>
										<h4><a href="product-details.html#">Compete Track Tote</a></h4>
										<div class="product-price">
											<ul>
												<li>$35.00</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="product-total-2">
								<div class="single-most-product bd mb-18">
									<div class="most-product-img">
										<a href="product-details.html#"><img src="/static/img/product/23.jpg" alt="book" /></a>
									</div>
									<div class="most-product-content">
										<div class="product-rating">
											<ul>
												<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
												<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
												<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
												<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
												<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
											</ul>
										</div>
										<h4><a href="product-details.html#">Voyage Yoga Bag</a></h4>
										<div class="product-price">
											<ul>
												<li>$30.00</li>
												<li class="old-price">$33.00</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="single-most-product bd mb-18">
									<div class="most-product-img">
										<a href="product-details.html#"><img src="/static/img/product/24.jpg" alt="book" /></a>
									</div>
									<div class="most-product-content">
										<div class="product-rating">
											<ul>
												<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
												<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
												<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
												<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
												<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
											</ul>
										</div>
										<h4><a href="product-details.html#">Impulse Duffle</a></h4>
										<div class="product-price">
											<ul>
												<li>$70.00</li>
												<li class="old-price">$74.00</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="single-most-product">
									<div class="most-product-img">
										<a href="product-details.html#"><img src="/static/img/product/22.jpg" alt="book" /></a>
									</div>
									<div class="most-product-content">
										<div class="product-rating">
											<ul>
												<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
												<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
												<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
												<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
												<li><a href="product-details.html#"><i class="fa fa-star"></i></a></li>
											</ul>
										</div>
										<h4><a href="product-details.html#">Fusion Backpack</a></h4>
										<div class="product-price">
											<ul>
												<li>$59.00</li>
											</ul>
										</div>
									</div>
								</div>
							</div>	
						</div>
					</div>
					<div class="banner-area mb-30">
						<div class="banner-img-2">
							<a href="product-details.html#"><img src="/static/img/banner/33.jpg" alt="banner" /></a>
						</div>
					</div>
					<div class="left-title-2 mb-30">
						<h2>Compare Products</h2>
						<p>You have no items to compare.</p>
					</div>
					<div class="left-title-2">
						<h2>My Wish List</h2>
						<p>You have no items in your wish list.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- product-main-area-end -->
{% endblock %}