<!-- footer-area-start -->
<footer>
    <!-- footer-top-start -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-top-menu">
                        <nav>
                            <ul>
                                <li><a href="/">home</a></li>
                                <li><a href="#">Enable Cookies</a></li>
                                <li><a href="#">Privacy and Cookie Policy</a></li>
                                <li><a href="#">contact us</a></li>
                                <li><a href="#">blog</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-top-start -->
    <!-- footer-bottom-start -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row bt-2">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="copy-right-area">
                        <p>Copyright © <a href="/">books-catalog.net</a> - All Right Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom-end -->
</footer>
<!-- footer-area-end -->
