{% load tags_custom %}

<!-- main-menu-area-start -->
<div class="main-menu-area hidden-sm hidden-xs sticky-header-1" id="header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="menu-area">
                    <nav>
                        <ul>
                            <li class="active">
                                <a href="{% url 'index' %}">Books<i class="fa fa-angle-down"></i></a>
                                <div class="mega-menu">
                                    {% for chunk in categories %}
                                    <span>
                                        {% for cat in chunk %}
                                        <a href="{% url 'catalog' cat.slug %}">
                                            {{ cat.name }}</a>
                                        {% endfor %}
                                    </span>
                                    {% endfor %}
                                </div>
                            </li>
                            <li><a href="product-details.html">About</a></li>
                            <li><a href="product-details.html">Contact</a></li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main-menu-area-end -->

<!-- mobile-menu-area-start -->
<div class="mobile-menu-area hidden-md hidden-lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="mobile-menu">
                    <nav id="mobile-menu-active">
                        <ul id="nav">
                            <li><a href="{% url 'index' %}">Books</a>
                                <ul>
                                    {% for chunk in my_categories %}
                                    {% for cat in chunk %}
                                    <li><a href="{% url 'catalog' cat.slug %}">{{ cat.name }}</a></li>
                                    {% endfor %}
                                    {% endfor %}
                                </ul>
                            </li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- mobile-menu-area-end -->